/* Default styles */
.products_container {
    margin: 1rem 1rem;
    /* background-color: red; */
}

.products_container_img_tag {
    padding: 2rem 3rem;
    width: 100%;
}

.products_container_content {
    margin: 1rem 1rem;
    text-align: center;
}

.products_container_hr {
    border: 1px solid rgb(137, 15, 15);
}

/* Media queries for responsive design */
@media screen and (max-width: 768px) {
    .products_container {
        margin: 1rem 0.5rem; /* Adjust margin for smaller screens */
    }

    .products_container_img_tag {
        padding: 1rem 1.5rem; /* Adjust padding for smaller screens */
    }

    .products_container_content {
        margin: 1rem 0.5rem; /* Adjust margin for smaller screens */
    }
}
